<div>
  <%= form_with(model: @spot, local: true) do |f| %>
    <div class="first_spot">
      <div class="start_station">
      </div>
      <!-- 移動時間 -->
      <div class="first_transittime">
      </div>

      <div class="save_button">
        <%= f.submit '保存する', class: 'btn btn-primary btn-block btn-lg' %>
      </div>
    </div>
  <% end %>
</div>
