<!-- <div class="users_showpage">
  <div class="user_setting">
    <ul class="user_name">
      <li class="users_name">usernameさん</li>
      <li>作成したコース○件</li>
      <li>お気に入り登録○件</li>
      <li class="cog_button"><i class="fas fa-cog"></i>設定</li>
    </ul>
  </div>

  <div class="created_course">

  </div>
</div> -->

<div class="row users_showpage">
  <aside class="col-sm-4">
    <div class="card user_setting">
      <div class="card-header">
        <h3 class="card-title users_name"><%= @user.name %>さん</h3>
      </div>
      <div class="card-body">
        <ul class="users_info">
          <li>作成したコース○件</li>
          <li>お気に入り登録○件</li>
          <li class="cog_button"><i class="fas fa-cog"></i>設定</li>
        </ul>
      </div>
    </div>
  </aside>

  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">作成したコース</a></li>
      <li class="nav-item"><a href="#" class="nav-link">お気に入りコース</a></li>
    </ul>
    <%# <%= render 'walkcourses/walkcourses', walkcourses: @walkcourse %> %>
  </div>
</div>
