@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  // top_page
  .second-phrase {
    width: 60%;
  }
  .users_info {
    font-size: 12px;
  }
  .parent-table {
    margin-top: 20px;
    border-spacing: 0 0;
    display: static;
    width: auto;
  }
  .recommend-course {
    display: static;
    width: 30%;
  }
  // user_show
  .user_edit_button {
    display: inline-block;
    padding: 5px 30px;
  }
  .user_destroy_button {
    display: inline-block;
    padding: 5px 30px;
  }
  // walkcourse_show_page
  .course_title {
    width: 65%;
  }
  .itinerary {
    padding: initial;
    padding-top: 40px;
  }
  .courseshow_requiretime  {
    width: 30%;
  }
  // walkcourse_edit_page
  .course_image {
    height: 380px;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  // top_page
  .image_top {
    width: 100%;
    height: 150px;
  }
  // user_show
  .usershow_course_part {
    display: block;
    width: 100%;
    position: static;
    padding-right: 20px;
  }
  .user_show_button {
    text-align: center;
  }
  .user_edit_button {
    margin: 0;
  }
  // walkcourse_edit_page
  .course_image {
    height: 340px;
  }
  .course_form {
    font-size: 15px;
  }
  .course_explanation {
    width: initial;
    font-size: initial;
  }
  .course_image_explanation {
    font-size: initial;
  }
  .course_description_explanation {
    font-size: initial;
    margin-bottom: -4px;
  }
  .start_station_explanation,.spot_name,.spot_time_required_explanation,.description_title,.spot_transittime_explanation {
    width: 285px;
  }
  .start_station,.start_place,.spot_time_required,.next_to_transittime {
    padding: 13px 1px;
  }
  .sp_content {
    width:60%;
  }

}
