



// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  // top_page
  .image_top {
    width: 100%;
    height: 150px;
  }
  // user_show
  .usershow_course_part {
    display: block;
    width: 100%;
    position: static;
    padding-right: 20px;
  }
  .user_show_button {
    text-align: center;
  }
  .user_edit_button {
    margin: 0;
  }
  // walkcourse_edit_page
  .course_image {
    height: 340px;
  }
  .course_form {
    font-size: 15px;
  }
  .course_explanation {
    width: initial;
    font-size: initial;
  }
  .course_image_explanation {
    font-size: initial;
  }
  .course_description_explanation {
    font-size: initial;
    margin-bottom: -4px;
  }
  .start_station_explanation,.spot_name,.spot_time_required_explanation,.description_title,.spot_transittime_explanation {
    width: 285px;
  }
  .start_station,.start_place,.spot_time_required,.next_to_transittime {
    padding: 13px 1px;
  }
  .sp_content {
    width:60%;
  }
  #spot_image_url {
    width: 90%;
    height: 250px;
  }
}
  // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  // top_page
  .second-phrase {
    width: 60%;
  }
  .users_info {
    font-size: 12px;
  }
  .parent-table {
    margin-top: 20px;
    border-spacing: 0 0;
    display: static;
    width: auto;
  }
  .recommend-course {
    display: static;
    width: 30%;
  }
  // user_show
  .user_edit_button {
    display: inline-block;
    padding: 5px 30px;
  }
  .user_destroy_button {
    display: inline-block;
    padding: 5px 30px;
  }
  // walkcourse_show_page
  .course_title {
    width: 65%;
  }
  .itinerary {
    padding: initial;
    padding-top: 40px;
  }
  .courseshow_requiretime  {
    width: 30%;
  }
  // walkcourse_edit_page
  .course_image {
    height: 380px;
  }


  .first_spot {
    position: static;
    height: initial;
  }
  .start_station_explanation {
    font-size: initial;
    position: static;
    width: 100%;
  }
  .start_station_explanation a {
    display: block;
  }
  .start_station {
    display: block;
    position: static;
  }


  .first_time_required {
    display: block;
    position: static;
  }
  .start_station_explanation {
    display: block;
  }
  .start_station {
    display: block;
    width: 100%;
  }
  .first_time_required{
    display: block;
  }

  .spot_name {
    display: block;
    width: 100%;
    position: static;
  }
  .start_place {
    display: block;
    width: 100%;
    position: static;
  }

  .spot_transittime_explanation {
    position: static;
    width: 100%;
    display: block;
  }
  .next_to_transittime {
    position: static;
    width: 100%;
    display: block;
  }
  .map_visual {
    width: 45%;
  }
  .map_size {
    height: 300px;
    width: 120%;
  }
  .map_submit_button {
    width:80% ;
  }
  #map_add_inputbutton {
    width: 70%;
  }
  #spot_image_url {
    width: 100%;
  }
  .submitted_spotimage {
    left: 0;
    top: 20px;
  }
  // walkcourse_new_page
  #walkcourse_title {
    padding: 13px 1px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
  //toppage
  header {
    margin: 0px 0px;
    margin-bottom: 160px;
  }
  .header-right a {
    font-size: 10px;
  }
  // login後header-right
  .post_course {
    padding: 1px 10px;
    width: 33%;
    font-size: 14px;
  }
  .mypage-login {
    padding: 1px 10px;
    width: 33.4%;
    font-size: 14px;
  }
  .logout {
    padding: 1px 10px;
    width: 33.5%;
    font-size: 14px;
  }

  // login前navbar
  .signup {
    padding: 1px 10px;
    width: 33%;
    font-size: 14px;
  }
  .login {
    padding: 1px 10px;
    width: 33.4%;
    font-size: 14px;
  }
  .test-login {
    padding: 1px 10px;
    width: 33.5%;
    font-size: 14px;
  }
  // top_image
  .top-wrapper {
    height: 200px;
  }
  .top-wrapper span{
    font-size: 20px;
    margin-left: 80px;
  }
  .second-phrase {
    width: 53%;
  }
  // toppage_content
  .recommend {
    margin-top: 0;
  }
  .recommend h2 {
    font-size: 20px;
  }
  .newpost h2 {
    font-size: 20px;
  }
  .fa-shoe-prints {
    padding-right: 20px;
    padding-left: 7px;
  }
  .newpost_title {
    margin-bottom: -25px;
  }
  .fa-bell {
    padding-right: 20px;
    padding-left: 7px;
  }
  .image_top {
    height: 100px;
  }
  .recommend-course  {
    height: 200px;
    font-size: 10px;
  }
  .btn-show {
    font-size: 10px;
    width: 150px;
  }
  // user_login_page
  .text-center h1 {
    font-size: 20px;
  }
  //user_show_page
  .users_showpage {
    margin-top: 0;
  }
  .user_setting {
    display: block;
    margin-left: 0;
  }
  .cog_button {
    margin: 10px 80px 0 80px;
  }
  .users_info li {
    font-size: 15px;
  }
  .wk_image_show {
    width: 300px;
    height: 200px;
  }
  .user_destroy_button {
    margin-left: 0;
  }
  //walkcourse_show_page
  .course_title {
    padding-top: 10px;
    font-size: 14px;
  }
  .favorite_button {
    font-size: initial;
    width: 120px;
    font-size: 10px;
    height: 45px;
  }
  .walkcourse_show_contents {
    height: 705px;
  }
  .walkcourse_show_description {
    position: static;
    width: 100%;
  }
  .show_wkimage {
    width: 290px;
    height: 280px;
  }
  .total_time_description {
    width: 200px;
  }
  .total_time_description a {
    font-size: 10px;
  }
  .total_time_sum {
    width: 145px;
  }
  .total_time_sum a {
    font-size: 10px;
  }
  .itinerary {
    font-size: 10px;
    height: 680px;
  }
  .itinerary_frame {
    width: 65px;
    right: -3px;
    padding: 60px 20px;
  }
  .itinerary_arrow_frame {
    margin-top: 130px;
  }
  .show_time_required {
    width: 75px;
  }

  .courseshow_spotname {
    width: 200px;
  }
  .courseshow_spotname a {
    font-size: 10px;
  }
  .courseshow_requiretime {
    width: 145px;
  }
  .courseshow_requiretime a {
    font-size: 10px;
  }

  .sp_show_image {
    width: 85%;
    height: 300px;
  }
  .spot_spotpic_image {
    width: 100%;
  }
  .spot_images {
    height: 800px;
  }
  .spot_map_info {
    display: block;
    width: 85%;
    height: 300px;
  }
  .spmap_image {
    margin-top: 400px;
  }
  .show_description {
    font-size: 10px;
  }
  .back_button {
    width: 40%;
  }
  // footer
  footer {
    paddding-right: 100px;
  }
  footer small {
    font-size: 60%;
  }
}
