// コースの作成フォーム全体にかかる
.course_form {
  margin: 80px 75px 40px 75px;
}

// コースのタイトル部分
.course_title_form {
  border: 1px solid #808080;
}
.course_explanation{
  display: inline-block;
  border: 1px solid #808080;
  text-align: center;
  font-size: 20px;
  width: 300px;
  padding: 10px 10px;
}
.title_transmit_form {
  display: inline-block;
  padding: 2px 10px;
  font-size: 20px;
}

// コースイメージ部分
.course_image {
  border: 1px solid #808080;
  height: 300px;
  position: relative;
}
.course_image_explanation {
  display: inline-block;
  border: 1px solid #808080;
  text-align: center;
  font-size: 20px;
  width: 300px;
}
.course_image_button {
  display: inline-block;
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
}

// コースの説明部分
.course_description {
  border: 1px solid #808080;
  height: 300px;
}
.course_description_explanation {
  display: inline-block;
  border: 1px solid #808080;
  text-align: center;
  font-size: 20px;
  width: 300px;
  height: 50px;
  padding-top: 10px;
}
.description_transmit_form {
  display: block;
  border: 1px solid #808080;
}

// 保存ボタン
.save_button {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  float: right;
  width: 25%;
  line-height: 20px;
  padding: 10px 0;
}
