<header>
    <img class="site-logo" src="toppage_logo.jpg">
    <div class="header-right">
        <div class="header-right-up">
            <ul class="btn btn-default btn-block post_course" href="">コースを投稿</ul>
            <ul class="btn btn-default btn-block mypage" href=""> マイページ</ul>
            <ul class="btn btn-default btn-block login" href="">ログイン</ul>
        </div>

        <div class="header-right-down">
            <form action="#" method="GET">
               <input class="form-text" type="seach" placeholder="検索ワードを入力してください">
               <i class="fas fa-search"></i>
            </form>
        </div>
    </div>
</header>
